## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
*.snupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## IDE
.idea/
*.resharper
_ReSharper.*/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## User secrets
appsettings.*.json
!appsettings.json
